.news-more {
	font-size: 25px !important;
	position: absolute;
	right: -10px;
	top: -18px;
}
ion-card {
	-webkit-margin-start: 5px !important;
	margin-inline-start: 5px !important;
	-webkit-margin-end: 5px !important;
	margin-inline-end: 5px !important;
}
